/* yui reset.css version: 2.5.2 */
html{color:#000;background:#fff;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#333;}.clear{height:0;font-size:0;line-height:0;clear:both;}
:focus{outline:0}
ol,ul,dl {list-style:none;}
input,button{ vertical-align:middle}
/* end of reset.css */

body{
font-size: 16px;
background:#fff;
font-family:Verdana, "微软雅黑",Tahoma,Arial,Helvetica, sans-serif;
color:#343434;
}
a{
text-decoration:none;
color:#343434;
}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
.hide{display: none;}

/* end of reset.css */
/*.container{max-width:640px;margin:0 auto;font-size: 16px;overflow: hidden;}*/

/* sprite */
.s-extend,.s-exSearch,.a-miniCart,
/*header .a-back,*/
.li-subKinds .s-title,.s-touchThumb,.txt-search,
.so-popbox .s-sopop-close,.s-single-close,.so-popbox .s-sopop-out-close{background:url(../images/sprite.png) no-repeat ;}

.bodybg-a{background-color: #eee;}
.bodybg-b{background-color: #fff;}
/*header{position: fixed;width:100%;background-color: #22292C;padding:1px 0 0 55px;height:51px;line-height: 28px;color:#fff;}
.h1-title{font-weight: normal;margin:10px 0 0;padding-left:15px;height:30px;border-left:1px solid #181D1F;}
header .a-back{position: absolute;left:6px;top: 0px;width:48px;height:50px;text-indent: -999em;overflow: hidden;background-position: center -83px;}*/

header{position: fixed;top:0px;left:0px;right:0px;height:46px;padding: 1px;background-color: #F86B4F;z-index: 5;}
.headLogo{margin: 10px 0 0 12px;width: 180px;}
.h1-title{font-weight: normal;font-size: 18px;line-height: 44px;text-align: center;color: #fff;}
header .a-headBack{position: absolute;width:35px;height:35px;text-indent: -999em;overflow: hidden;}
header .a-headBack{left:7px;top:7px;background:url(../images/back.png) no-repeat center;background-size:80%;-webkit-background-size:80%;}
.all-main{margin: 48px 0 40px;}
.all-main-base{position: absolute;top:0px;left:0px;right:0px;bottom:0px;overflow:auto;}

.cont-a{width:96%;margin:0 auto;overflow: hidden;}
.cont-b{padding:0 2%;overflow: hidden;background-color: #eee;}
.formcont{margin:0 0.83%;}
.p-tip{}

.introwrapper{background:url(../images/intro.jpg) no-repeat center;background-size:100%;}
.fix-introfooter{position: absolute;left:2%;bottom:0px;width:96%;height:50px;}

.formcont-b .lab-item{display: block;padding-bottom: 5px;font-weight: bold;}
.formcont-b .drop{height:42px;padding:12px 5px;background-color: #fff;border:0px;}

.s-historyPCD{display: block;padding:4px 0;}
.em-historyPCD{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;padding:0 10px 0 0;color:#F86B4F;}
.em-repairPCD{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;padding:5px 10px;background-color: #F86B4F;color:#fff;cursor:hand;cursor:pointer;}
.em-repairPCD:hover{background-color: #ef7e66;}
.dropPCD{display: none;}
.fix-nav{position:fixed;left:0px;bottom:0px;width:100%;height:40px;z-index:20;}
.ul-nav{height:40px;line-height: 40px;}
.ul-nav .li-nav{position: relative;float: left;border-right:1px solid #D6DCDC;background-color: #526E7C;height:40px;}
.ul-nav .li-nav:last-child{border-right:0px}
.ul-nav a,.ul-nav .s-nav{display: block;line-height: 40px;text-align: center;cursor:hand;cursor:pointer;color: #fff;}
.ul-nav a.a-now{background-color:#F86B4F;}

.searchbox{padding:0 6px 6px;overflow: hidden;border-bottom: 1px solid #e4e4e4;}
.searchcont{}
.txt-search{float: left;width:77%;height:30px;line-height: 14px;font-size:14px;border:0px;text-indent: 30px;background-color: #fff;background-position: 8px -793px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #e4e4e4;vertical-align: middle;}
.searchcont .btn-submit{float: right;width:20%;height:30px;line-height: 30px;font-size: 14px;color:#fff;background-color: #F86B4F;border:0px;cursor:hand;cursor:pointer;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;vertical-align: middle;}


.miniCart{position: fixed;right:5px;bottom:45px;width:50px;height:50px;z-index:18;}
.a-miniCart{display: block;width:50px;height:50px;background-position: center -700px;text-indent:-999em;overflow: hidden;}

.h3-headTitle{position: relative;border-bottom:1px solid #EF826B;height:40px;line-height: 40px;font-weight: normal;padding:5px 10px 0;}
.h3-headTitle .s-title{color:#EB5435;}
.h3-headTitle  .a-more{position: absolute;top:6px;right:10px;font-size: 14px;color:#7D929E;}



.ul-tab{overflow: hidden;zoom:1;text-align: center;bacinkground-color: #fff;margin-bottom: 10px;}
.li-tab{float: left;padding:10px 0;text-align: center;border-bottom:1px solid #e3e3e3;font-size: 14px;}
.li-tab:hover,.li-now{border-bottom:1px solid #F86B4F;}
a.a-tab{display: block;height:20px;line-height: 20px;border-right:1px solid #e3e3e3;color:#526E7D;}
.li-tab:hover a.a-tab,.li-now a.a-tab{color:#F86B4F;}

/* ul-kinds */
.ul-kinds{}
.li-kinds{padding:20px 10px;border-bottom: 1px solid #efefef;overflow: hidden;zoom:1;}
.li-kinds .a-thumb{float: left;width:20%;max-width:90px;}
.li-kinds .a-kinds{color:#526e7d;}
.li-kinds .kindAbs{float: right;width:76%;margin-top:-2px;}
.li-kinds .p-abs{color:#808080;font-size: 14px;margin-top: 5px;}

/* ul-subKinds */
.ul-subKinds{font-size: 14px;}
.li-subKinds{border-bottom: 1px solid #efefef;}
.li-subKinds .s-title{ display: block;line-height:20px;padding:10px;background-position: 97% -387px;cursor:hand;cursor:pointer;}
.ul-subKinds .ul-sub{display: none;border-top:1px solid #efefef;color:#eb5435;padding:5px 0;}
.ul-subKinds a.a-sub{display: block;color:#eb5435;line-height: 30px;padding:0 0 0 40px;}
.ul-subKinds a.a-sub:hover{background-color: #efefef;}
.li-subKinds-ex .ul-sub{display: block;}
.li-subKinds-ex .s-title{color:#eb5435;background-position: 97% -487px;}

.li-subKinds .s-title .em-num,.ul-subKinds a.a-sub .em-num{margin-left:2px;color:#999;font-size: 0.9em;}



.ul-list{font-size: 14px;padding-bottom: 40px;}
.li-list{padding:10px 0;overflow: hidden;zoom:1;border-bottom: 1px solid #efefef;}
.li-list .s-thumb{float: left;margin:0 3% 0px 1%;cursor:hand;cursor:pointer;}
.li-list .s-thumb img{border:1px solid #e3e3e3;}
.li-list .list-cont{float: left;}
.li-list .h4-title{margin-bottom:5px;}
.li-list .p-protip{clear: both;background-color: #FFF9DF;border:1px solid #FFCC00;margin: 5px 0 5px 1%;padding:6px;}

.li-list-a .s-thumb{width:30%;max-width: 120px;}
.li-list-a .list-cont{width:65%;}
/*.li-list-a .p-op{float: right;width:20%;}*/
.li-list-a .p-op{margin-top: 10px;}
.li-list-a .p-abs{color:#808080;}
.li-list-a .p-op .s-op{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;cursor:hand;cursor:pointer;color:#fff;padding:5px 20px;text-align: center;margin-right: 5px;}

.li-list-b .s-thumb{width:35%;max-width: 120px;}
.li-list-b .list-cont{width:60%;}
.li-list-b .p-op{padding:8px 0 0;overflow: hidden;zoom:1;}
.li-list-b .p-abs{padding:1px 0;color:#808080;}
.li-list-b .p-op .s-btn{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;cursor:hand;cursor:pointer;color:#fff;padding:6px 15px;margin:0 8px 0 0;}

.ul-list-c{padding-bottom: 0px;}
.li-list-c .s-thumb{width:16%;max-width: 120px;}
.li-list-c .list-cont{width:55%;}
.li-list-c .p-abs{color:#808080;}
.li-list-c .p-op{float: right;width:25%;text-align: right;}
.li-list-c .p-op .s-price{font-weight: bold;color:#EB5435;display: block;margin-bottom: 5px;}
.li-list-c .s-num{color:#808080;}
.li-total .s-title{float: left;}
.li-total .s-price{float: right;font-weight: bold;color:#EB5435;}
.li-total .p-total{overflow: hidden;zoom: 1;padding: 4px 0;}
.li-total .fwn{font-weight: normal;}

.ul-list-d{padding-bottom: 80px;}
.li-list-d .lab-sel{float: left;width:8%;height:45px;line-height: 40px;}
.li-list-d .s-thumb{width:16%;max-width: 120px;}
.li-list-d .list-cont{width:71%;}
.li-list-d .p-abs{color:#808080;}
.li-list-d .div-op{}
.li-list-d .s-price{font-weight: bold;color:#EB5435;display: block;margin-bottom: 5px;}
.li-list-d .div-op{overflow: hidden;zoom: 1;}
.li-list-d .div-op .p-num{float:left;}
.li-list-d .div-op .s-del{float: right;cursor:hand;cursor:pointer;color:#fff;padding:4px 0;text-align: center;background-color: #F86B4F;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;width:84px;}


.ul-a{overflow: hidden;font-size: 14px;padding:10px 5%;margin:10px 0 50px;color:#526E7D;background-color:#EBEBEB;}
.li-a{overflow: hidden;zoom:1;padding:2px 0;line-height: 1.6em;}
.li-a .s-title{float: left;width:30%;}
.li-a .s-info{float: left;width:70%;}


/* ul-history */
.ul-history{font-size: 14px;padding-bottom: 40px;}
.li-history{overflow: hidden;zoom:1;}
.li-history .bookingMain{float: left;width:77%;padding-bottom:8px;color:#526E7D;margin-left: 2%;}
.li-history .bookingMain p{padding:4px 0;line-height: 16px;}
.li-history .p-one{overflow: hidden;zoom:1;}
.li-history .s-title{float: left;width:30%;margin-right: 1%;}
.li-history .s-info{float: left;width:69%;}
.li-history .p-op{float: right;width:18%;padding-top:30px;margin-right: 2%;}
.li-history .a-more,.li-history a.a-more{display: block;padding:6px 0;text-align: center;color:#fff;font-size: 16px;margin-bottom: 5px;}
.li-history .bookingStatus{padding:0 2%;clear: both;overflow: hidden;zoom:1;line-height: 30px;margin-bottom: 10px;color:#526E7D;background-color: #E1D9D7;}
.li-history .bookingStatus .p-one{width:79%;}

/* cart */
.totalSumBox{position: fixed;left:0px;bottom:40px;height:54px;padding:3px 0;width:100%;background-color: #ebebeb;overflow: hidden;font-size: 14px;}
.totalSumBox .lab-selAll{float: left;padding:0 15px 0 10px;line-height: 60px;}
.totalSumBox .lab-selAll .chk{margin:0 4px 0 0;vertical-align: middle;}
.totalSumBox .s-totalPrice,.totalSumBox .s-breakPrice{font-size: 12px;}
.totalPriceBox{float: right;color:#EB5435;padding-right:10px;line-height:18px;}
.totalSumBox .s-price{display: block;}
.totalSumBox .em-sumPrice{font-weight: bold;}
.gotoBooking{position:fixed;left:0px;bottom:0px;width:100%;height:40px;line-height: 40px;z-index: 50;border-top: 1px solid #ccc;}
.gotoBooking .s-tipSel,.gotoBooking .a-gotoBooking{display: block;height:40px;background-color: #EBEBEB;text-align: center;}
.gotoBooking .a-gotoBooking{background-color: #EF7E66;color:#fff;}
.a-selmore{height: 50px;line-height: 40px;text-align: center;background-color: #526E7D;color:#fff;}

.successT{width:35%;max-width:170px;margin:0 auto;padding: 40px 0 10px;}
.h4-bSuccess{text-align: center;line-height: 2em;}
.p-bSuccess{text-align: center;line-height: 2em;font-size: 14px;}
.a-toLuck{height:45px;line-height:45px;font-size:18px;}

.p-item:after,.p-btn:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.p-item,.p-btn{*zoom:1;}
.p-item{margin:10px 0;}
.s-item{text-align: right;}
.btn-a{text-align: center;color:#fff;}
.remarkArea{margin:10px 0.83%;}
.txta{width:100%;border:0px;padding:10px 3%;background-color: #fff;line-height:24px;height:92px;}
.txt{width:100%;border:0px;padding:10px 3%;background-color: #fff;line-height:24px;}
.txt-err{background-color: #FDECE8;border:1px solid #EF826B;}
.em-errMes{display: block;color:#eb5435;font-size: 14px;padding:6px 0 2px 6px;clear: both;}

header,.searchbox,.txt,.txta,.imgauto img,.imgheightauto img,.fix-nav *,.borderBox{
-moz-box-sizing: border-box;  /*Firefox3.5+*/
-webkit-box-sizing: border-box; /*Safari3.2+*/
-o-box-sizing: border-box; /*Opera9.6*/
-ms-box-sizing: border-box; /*IE8*/
box-sizing: border-box; /*W3C标准*/
}
.imgheightauto img{height:100%;width:auto;}
.headLogo img,.imgauto img,.img-auto{width:100%;height:auto;}

.tabTitle{background-color: #BABABA;}
.tabTitleNow{background-color: #F86B4F;}
.requestCode{background-color: #BABABA;padding: 3px 0;vertical-align: middle;}

.ul-meInfo{margin-top: -3px;}
.li-meInfo{background:url(../images/me.png) no-repeat ;-webkit-background-size:25px 400px;background-size:25px 400px;border-top: 1px solid #c8c8c8;border-bottom: 1px solid #c8c8c8;line-height: 40px;margin-bottom: 15px;color: #000;}
a.a-meInfo{color: #666;display: block;padding-left: 45px;}
.s-meInfo{display: block;padding-left: 45px;}
.li-me-1{background-position: 16px 7px;}
.li-me-2{background-position: 16px -43px;}
.li-me-3{background-position: 16px -93px;}
.li-me-4{background-position: 16px -143px;}
.li-me-5{background-position: 16px -193px;}
.li-me-6{background-position: 16px -243px;}
.li-me-7{background-position: 16px -293px;}
.li-me-8{background-position: 16px -342px;}

.mar-t5{margin-top: 5px;}
.mar-t10{margin-top: 10px;}
.mar-t15{margin-top: 15px;}
.mar-t20{margin-top: 20px;}
.mar-t25{margin-top: 25px;}
.mar-t30{margin-top: 30px;}

.wp5{width:5%;}
.wp10{width:10%;}
.wp15{width:15%;}
.wp20,.wp5-1{width:20%;}
.wp25,.wp4-1{width:25%;}
.wp30{width:30%;}
.wp35{width:35%;}
.wp40,.wp5-2{width:40%;}
.wp45{width:45%;}
.wp49{width:49%;}
.wp50,.wp2-1{width:50%;}
.wp55{width:55%;}
.wp60,.wp5-3{width:60%;}
.wp65{width:65%;}
.wp70{width:70%;}
.wp75,.wp4-3{width:75%;}
.wp80,.wp5-4{width:80%;}
.wp85{width:85%;}
.wp90{width:90%;}
.wp95{width:95%;}
.wp100{width:100%;}
.wp3-1{width:33.3333333333333%;}
.wp3-2{width:66.6666666666667%;}

.bg-white{background-color: #fff;}
.bg-eee{background-color: #eee;}
.bg-red{background-color: #CC3300;}
.bg-pink{background-color: #F86B4F;}
.bg-green{background-color:#97CB69;}
.bg-grey{background-color:#d9d9d9;}
.bg-yellow{background-color:#FFAA17;}
.bg-orange{background-color:#F86B4F;}
.bg-ink{background-color: #899BA7;}
.bg-ink:hover{background-color: #899CA7;}
.red{color:#CC3300;}
.pink{color:#F86B4F;}
.grey{color:#ccc;}
.btn-a{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;height:38px;line-height:38px;color:#fff;}
.btn-b{display: block;height:38px;line-height: 38px;margin:8px 0 0;text-align: center;color:#fff;}
.center{text-align: center;}
.right{text-align: right;}
.fl{float: left;}
.fr{float: right;}

.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}
.fs22{font-size:22px;}
.fs24{font-size:24px;}
.lh15{line-height: 1.5em;}
.lh16{line-height: 1.6em;}
.lh18{line-height: 1.8em;}

/* grid */
.grid{
/*max-width:1220px;*/
margin:0 auto;}
.grid:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
* html .grid, *:first-child+html .grid{zoom:1}

.grid.flex{width:100%;max-width:100%;padding:0 2%;padding:2em;}
.row{display:block;overflow:hidden;clear:both;}

*[class*="col_"].alpha{margin-left:0;}
*[class*="col_"].omega{margin-right:0;}

.col_1  { width: 6.6666666666667%; }
.col_2  { width: 15%; }
.col_3  { width: 23.333333333333%; }
.col_4  { width: 31.666666666667%; }
.col_5  { width: 40%; }
.col_6  { width: 48.333333333333%; }
.col_7  { width: 56.666666666667%; }
.col_8  { width: 65%; }
.col_9  { width: 73.333333333333%; }
.col_10 { width: 81.666666666667%; }
.col_11 { width: 90%; }
.col_12 { width: 98.333333333333%; }

*[class*="col_"]{
margin-left: 0.83333333333333%;
margin-right: 0.83333333333333%;
float: left;
display: block;
}


.grid img{
max-width: 100%;
height:auto;
}

@media all and (min-width: 480px) and (max-width: 768px) {}
@media all and (max-width: 480px) {}

/* pop */
.body-fixed{position: relative;overflow: hidden;padding: 0px;}
.so-popbox .s-sopop-close,.s-single-close,.so-popbox .s-sopop-out-close{z-index:4;position: absolute;top: 10px;right: 12px;width:24px;height:24px;background-position: 0 -200px;text-indent: -999em;overflow: hidden;cursor: hand;cursor: pointer;}
.so-openmask {position: fixed;top: -2px;left: 0px;right:0px;bottom:500px;background: #000;filter: alpha(opacity=40);opacity: 0.4;Z-index: 1100;-webkit-transition:all 0.2s ease-in-out 0s;-moz-transition:all 0.2s ease-in-out 0s;-o-transition:all 0.2s ease-in-out 0s;transition:all 0.2s ease-in-out 0s;}
.so-popbox {position: fixed;background: #fff;text-align: left;z-index: 1120;box-shadow: 0px 0px 6px #777;-webkit-box-shadow: 0px 0px 6px #777;-moz-box-shadow: 0px 0px 6px #777;}
.so-poptitle{background-color: #e9e9e9;height:42px;line-height: 42px;padding:0 20px;font-weight: bold;}
.so-popbox-cont {padding: 12px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}

.so-popConfirm .s-sopop-close,.so-popError .s-sopop-close,.so-popTip-1 .s-sopop-close{background-position: -140px 5px;}
.so-popbox .s-sopop-close:hover,.s-single-close:hover {background-position: -24px -200px;}
.d-content{padding:5px 0 15px;}
.p-sopop-btn{text-align: center;}
.s-sopop-btn{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;cursor:hand;cursor:pointer;background-color: #ef7e66;color:#fff;padding:4px 15px;margin:0 8px 0 0;}
.s-sopop-cancel{background-color: #ccc;color: #333;}
.so-loadtip{background-color: rgba(30,30,30,0.9);color:#ddd;text-align: center;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
.so-loadtip .so-popbox-cont{padding:8px 15px;}
.so-loadtip .s-sopop-close{display: none;}

/* bookingPop */
/*.bookingPop{position:fixed;left:0px;bottom:0px;width:100%;padding:8px;background-color: #fff;font-size: 14px;z-index: 50;}*/
.bookingPopBox .s-sopop-close{top:20px;right:20px;}
.bookingPopBox .so-popbox-cont{padding:0px;}
.bookingPop{display: none;font-size: 14px;padding:8px;}
.proPopInfoWrap{position: relative;height:160px;overflow: auto;}
.proAbs{overflow: hidden;zoom:1;padding:10px 0;border-bottom: 1px solid #efefef;}
.bookingPop .s-thumb{float: left;width:15%;margin:0 3% 0 2%;border:1px solid #e6e6e6;}
.bookingPop .proAbs-cont{float: left;width:66%;}
.bookingPop .h4-title{font-weight: normal;margin-bottom: 5px;}
.bookingPop .s-price{color:#EB5435;font-weight: bold;}
.bookingPop .proC{padding:8px 0;border-bottom: 1px solid #efefef;overflow: hidden;zoom:1;line-height: 25px;}
.bookingPop .proC .s-tc{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;padding:0 8px;border:1px solid #d1d1d1;background-color: #ededed;white-space:nowrap;word-break: keep-all;margin-right: 5px;margin-bottom: 5px;cursor:hand;cursor:pointer;}
.bookingPop .proC .s-tc-now{background-color: #FFE1DB;border:1px solid #EF7E66;}
.bookingPop .s-title{float: left;text-align: center;}
.bookingPop .p-tc,.bookingPop .p-num{float: left;}

.fn-op-num .em-op{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;height:25px;line-height: 24px;padding:0 8px;border:1px solid #d1d1d1;background-color: #f6f6f6;vertical-align: middle;cursor:hand;cursor:pointer;}
.fn-op-num .em-op:hover,.fn-op-num .em-op:active{background-color: #FFE1DB;border:1px solid #EF7E66;}
.fn-op-num .txt-num{width:30px;height:27px;line-height: 25px;padding:0px;border-bottom:1px solid #d1d1d1;border-top: 1px solid #d1d1d1;vertical-align: middle;text-align: center;}


.proDetail{display: none;font-size: 14px;}
.proIntro{text-align: center;}
.gallerybox{position: relative;width:258px;height:258px;margin:30px auto 0;overflow: hidden;border:1px solid #e4e4e4;}
.scrollWrap{overflow:hidden; position:relative;}
.scrollWrap li{position:relative;display:block;width:100%;float:left;}
/*.picone img{border:1px solid #e4e4e4;}*/
.proDetail .p-thumb{padding-top:5px;height:20px;text-align: center;}
.s-touchThumb{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;width:10px;height:10px;background-position:-17px -600px;text-indent: -999em;overflow: hidden;margin:0 5px;cursor:hand;cursor:pointer;}
.s-touchNow{background-position: 0px -600px;}

.proDetail .p-op{padding:10px 0 0;}
.proDetail .s-op{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;height:30px;line-height: 30px;padding:0 10px;background-color: #d2d2d2;color:#fff;}
.proDetail .s-zp{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;height:30px;line-height: 30px;padding:0 10px;background-color: #d12525;color:#fff;}


.formcont-b{font-size: 14px;padding-top:10px;padding-bottom:10px;}
.p-delivery{padding: 10px 5%;font-size: 14px;border-bottom: 1px solid #ebebeb;}
.p-totalPrice{padding:10px 5%;color:#EF7E66;font-weight: bold;font-size: 14px;}
.addressInfo{position: relative;font-size: 14px;background: #eee;padding: 10px 5%;line-height: 1.6em;}
a.a-toRepair{position: absolute;top:10px;right:5%;background: #afafaf;color: #fff;padding: 2px 10px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
a.a-toRepair:hover,a.a-toRepair:active{background: #bbb;}
.pad-b10{padding-bottom:10px;}
.pad-b20{padding-bottom:20px;}
.pad-b40{padding-bottom: 40px;}
.btn-c{display: block;height:38px;line-height: 38px;margin:8px 0 0;text-align: center;color:#666;}


.all-main-c{position: absolute;top:46px;left:0px;right:0px;bottom:0px;overflow:auto;}
/* award */
.award-loading{z-index: 2;background-color: #fff;background:#fff url(../images/awarding.gif) no-repeat center;background-size:100% auto;}
.award{background:#FFEF83;}
.award .cont-award{position: absolute;left:50%;top:50%;width:320px;margin:-180px 0 0 -160px;background:#FFEF83 url(../images/award.png) no-repeat ;background-size:100% auto;height:325px;}
/*.award-gold{width: 30%;margin: 90px auto 0px;}*/
.award-info{font-size: 1.05em;text-align: center;padding: 130px 0 0;margin-bottom: 80px;}
.award-info .s-num{color: #c00;font-weight: bold;font-size: 2em;}
