<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="email=no" name="format-detection" />
    <!-- <link rel="shortcut icon" href="/images/i.ico"> -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>我的订单 - 麦动</title>
</head>

<body>
<!-- <body class="body-app"> -->

<!-- header -->
<header>
    <h1 class="h1-siteInfo"><a class="a-logo" href="#"><img src="images/logo.png" height="33" width="150" alt="麦动" title="麦动" /></a></h1>
    <p class="p-headQuick">
        <a href="#" class="a-cartNum">15</a>
        <a href="#" class="a-quick a-quick-cart" title="购物车">购物车</a>
        <a href="#" class="a-quick a-quick-user" title="用户">用户</a>
        <a href="#" class="a-quick a-quick-search" title="搜索">搜索</a>
    </p>
</header>

<!-- fix-nav -->
<nav class="fix-nav">
    <ul class="ul-nav">
        <li class="wp3-1 li-nav"><a href="#" id="a-nav-index" class="a-nav">首 页</a></li>
        <li class="wp3-1 li-nav"><a href="#" id="a-nav-about" class="a-nav a-now">关于麦动</a></li>
        <li class="wp3-1 li-nav"><span id="s-nav-services" class="s-nav fn-subnav">我的服务</span>
            <ul class="ul-subnav">
                <li class="li-subnav"><a href="#" class="a-subnav">订单查询</a></li>
                <li class="li-subnav"><a href="#" class="a-subnav">客户经理</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="all-main all-main-b bg-eee">
    <section class="st-welcome">
        <span class="s-thumb imgauto"><img src="images/photodef.png" height="156" width="156" alt="" /></span>
        <p class="p-welcome"><span class="s-user">尊贵的会员</span><span class="s-welcome">上午好！/下午好！/晚上好！</span></p>
    </section>
    <div class="appdown"><span class="s-downInfo">下载麦库客户端，享受更优质服务</span><a href="#" class="a-downApp">下载</a></div>

    <p class="orderstatus">
        <a href="js/orderTest.json?k=1" class="a-status"><em class="em-num">24</em><em class="em-status">待确认</em></a>
        <a href="js/orderTest.json?k=2" class="a-status"><em class="em-num">13</em><em class="em-status">发货中</em></a>
        <a href="js/orderTest.json?k=3" class="a-status"><em class="em-num">0</em><em class="em-status">未付款</em></a>
        <a href="js/orderTest.json?k=4" class="a-status"><em class="em-num">8</em><em class="em-status">已付款</em></a>
    </p>

    <h3 class="h3-order" rel="0"><span class="s-title s-order-title">最近一个月订单</span><a href="js/orderTest.json" class="a-ordermore">全部订单</a></h3>
    <div class="cont-order">

        <!-- 没有订单时 -->
        <p class="p-emptytip">您最近一个月没有订单</p>

        <!-- 有订单时 -->
        <p class="p-emptytip p-emptytipHide">您最近一个月没有订单</p>
        <ul class="ul-order lazybox">
            <li class="li-order">
                <h4 class="h4-order"><span class="s-title">订单号：23899</span><a href="#" class="a-more">取消</a></h4>
                <p class="p-thumb">
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/demo/pic-1.png" height="87" width="87" alt="" /></a>
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/demo/pic-1.png" height="87" width="87" alt="" /></a>
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/demo/pic-1.png" height="87" width="87" alt="" /></a>
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/demo/pic-1.png" height="87" width="87" alt="" /></a>
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/pic-ordermore.png" height="87" width="87" alt="" /></a>
                </p>
                <p class="p-ordertotal"><span class="s-price">总价：￥12332.00</span><a href="#" class="a-ordermore a-orderbuy">付款</a></p>
            </li>

            <li class="li-order">
                <h4 class="h4-order"><span class="s-title">订单号：23899</span><a href="#" class="a-more">取消</a></h4>
                <p class="p-thumb">
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/demo/pic-1.png" height="87" width="87" alt="" /></a>
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/demo/pic-1.png" height="87" width="87" alt="" /></a>
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/demo/pic-1.png" height="87" width="87" alt="" /></a>
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/demo/pic-1.png" height="87" width="87" alt="" /></a>
                    <a href="#" class="a-thumb imgauto"><img src="images/blank.png" src2="images/pic-ordermore.png" height="87" width="87" alt="" /></a>
                </p>
                <p class="p-ordertotal"><span class="s-price">总价：￥12332.00</span><a href="#" class="a-ordermore">详情</a></p>
            </li>

        </ul>

        <p class="p-loadMore">点击加载更多</p>
         <!-- <p class="p-btn mar-t5 mar-b10"><a class="col_6 btn-a2 bg-white" href="#">&lt;上一页</a><a class="col_6 btn-a2 bg-white" href="#">下一页&gt;</a> -->

    </div>

</div>
<script id="orderTem" type="text/x-jsrender">
    <li class="li-order">
        <h4 class="h4-order"><span class="s-title">订单号：{{>OrderId}}</span>
        {{if status== true}}
        	<a class="a-more">已取消</a>
        {{/if}}
		</h4>
        <p class="p-thumb">
            {{for imgUrlList ~orderId=OrderId}}
            {{if #index<4}}
                <a href="/html/order/orderDetail.do?orderId={{:~orderId}}" class="a-thumb imgauto"><img src="{{: #data}}" height="87" width="87" alt="" /></a>
           	{{/if}}
            {{/for}}
        	<a href="#" class="a-thumb imgauto"><img src="/images/img/pic-ordermore.png" height="87" width="87" alt="" /></a>
        </p>
        <p class="p-ordertotal">
            <span class="s-price">总价：￥{{>amount}}</span>
            <a href="/html/order/orderDetail.do?orderId={{>OrderId}}" class="a-ordermore">详情</a>
        </p>
    </li>

</script>
<script type="text/javascript">
var loadOpt = {
    url : 'js/json.json',
    pageSize :3
}
</script>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jsrender.js"></script>
<script type="text/javascript" src="js/base.js"></script>

</body>
</html>
